@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* padding: 0;
  margin: 0; */
  /* font-family: "IBM Plex Sans", sans-serif; */
  overflow-y: none;
}

@layer components {
  .markdown {
    @apply mt-5;
  }

  .markdown img {
    @apply h-auto;
  }

  .markdown p {
    @apply mb-5;
  }

  .markdown h1 {
    @apply font-bold text-2xl sm:text-4xl text-white mb-5;
  }

  .markdown h2 {
    @apply font-bold text-xl sm:text-3xl text-white mb-5;
  }

  .markdown h4 {
    @apply font-bold text-3xl sm:text-5xl text-white mb-5;
  }

  .markdown ol,
  .markdown ul {
    @apply pl-8;
  }

  .markdown code {
    @apply bg-slate-800 p-2 w-full mb-2;
  }

  .markdown code,
  pre {
    @apply mb-5;
  }

  .markdown hr {
    @apply border border-red-200 mt-5 mb-5;
  }

  .markdown a {
    @apply text-blue-400;
  }

  /* .markdown ul {
    @apply list-none;
  } */
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}
